apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deploy
spec:
  template:
    spec:
      containers:
        - name: nginx
          resources:
            requests:
              cpu: "150m"
              memory: "256Mi"
            limits:
              cpu: "1"
              memory: "512Mi"