
.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

venv/
env/
*.egg-info/
.eggs/
pip-wheel-metadata/


tests/
docs/
.coverage
pytest_cache/
htmlcov/


Dockerfile.*
.dockerignore
docker-compose*.yml


.env
*.log
*.bak
*.swp
.idea/
.vscode/
